.main {
  display: grid;
  height: 100dvh;
  overflow: hidden;

  grid-template-areas:
    'header header header'
    'left-sidebar content right-sidebar'
    'footer footer footer';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;

  &>* {
    min-height: 0;
    min-width: 0;
  }

  .header {
    grid-area: header;
  }

  .right-sidebar {
    grid-area: right-sidebar;
    width: min(100%, fit-content);
  }

  .footer {
    grid-area: footer;
    padding: var(--bs-gutter-x) 0;
  }
}