.header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: var(--header-height);
	padding-right: 24px;
}

.menu {
	width: 80px;
	display: flex;
	justify-content: center;
}

.sidebar-switcher {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 4px;
}

.sidebar-switcher .icon {
	margin: auto;
}

.sidebar-switcher:hover {
	background: #403E3E;
}

.logo-icon {
	margin-left: 16px;
}

.search-box {
	flex: 1;
	max-width: 400px;
	margin-left: 32px;
}

.user {
	margin-left: auto;
}

@media only screen and (max-width: 720px) {
	.header {
		padding-right: 12px;
	}

	.logo-icon {
		display: none;
	}

	.left-corner {
		display: flex;
		align-items: center;
		width: auto;
	}

	.search-box {
		margin: 0 12px;
	}
}