.cta-notification {
    padding: 12px;
    border-radius: 4px;
    background: var(--main-layout-elem-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}