@use '../../scss/abstract';

.playlist-card {
    @include abstract.flexAlignCenter;
    flex-direction: column;
    padding: 6px;
    border-radius: 4px;

    &:hover {
        background: var(--hover-bg-color);
    }

    .thumbnail {
        width: 100%;
        border-radius: 4px;
    }

    .name {
        line-height: 1.8;
        margin-top: 12px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}