@use '../../scss/abstract';

.home {
  .element~.element {
    margin-top: 24px;
  }

  // .element-title {
  // }

  .element-items {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
  }

  .element-vertical-item {
    width: 50%;

    @include abstract.screen(sm) {
      width: 33.3333%;
    }
    @include abstract.screen(md) {
      width: 25%;
    }

    @include abstract.screen(lg) {
      width: 16.6666%;
    }
  }

  .element-horizontal-item {
    width: 100%;

    @include abstract.screen(md) {
      width: 50%;
    }

    @include abstract.screen(lg) {
      width: 33.3333%;
    }

    @include abstract.screen(xl) {
      width: 25%;
    }
  }
}
