:root {
    --primary-color: #EF759A;
    --header-height: 80px;
    --sidebar-width: 216px;
}

* {
    box-sizing: border-box;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

a {
    color: #fff;
    text-decoration-line: none;
}

html {
    font-size: 62.5%;
}

body {
    background: #222;
    font-size: 1.6rem;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 39px;
}

h2 {
    font-size: 33px;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.content {
    max-width: 1600px;
    padding: 0 24px;
    margin: auto;
}

@media only screen and (max-width: 720px) {
    .content {
        padding: 0 12px;
    }
}