.search-box {
  --search-box-border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  background: var(--search-box-bg-color);
  border-radius: var(--search-box-border-radius);
  padding: 0 12px;

  .keyword {
    flex: 1;
    padding: 12px;
    font-size: 1.6rem;
    background: transparent;
    position: relative;
  }

  .clear-btn {
    padding: 8px;
  }

  .keyword:focus~.items {
    display: block;
    visibility: hidden;
    translate: 0 -1%;
    scale: 0.95;
  }

  .keyword:not(:focus)~.cover {
    visibility: hidden;
  }

  .keyword:focus:not(:placeholder-shown)~.cover {
    visibility: visible;
  }

  .keyword:not(:placeholder-shown)~.items {
    visibility: visible;
    display: block;
    scale: 1;
    translate: 0 0;
  }

  .keyword:not(:focus)~.items {
    visibility: hidden;
  }

  .keyword:not(:focus)~.items:hover {
    visibility: visible;
  }

  .keyword:not(:focus)~.items:hover~.cover {
    visibility: visible;
  }

  .items {
    // display: none;
    visibility: hidden;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: min(auto, 50vh);
    background: var(--search-box-bg-color);
    border-bottom-right-radius: var(--search-box-border-radius);
    border-bottom-left-radius: var(--search-box-border-radius);
    transition: scale 0.7s, translate 0.7s;
  }

  .items~.cover {
    visibility: hidden;
  }

  .cover {
    background: var(--search-box-bg-color);
    position: absolute;
    z-index: -1;
    height: 21px;
    bottom: 0;
    right: 0;
    left: 0;
    transition: visibility 0.2s;
  }

  .item {
    display: flex;
    align-items: center;
    padding: 4px 12px;

    &:hover {
      background: var(--primary-color);
    }
  }

  .keyword-item {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 4px;
    column-gap: 8px;
  }

  .track-link {
    flex: 1;
  }

  .track-details {
    display: flex;
    align-items: center;
    column-gap: 8px;
    flex: 1;
  }

  .track-thumbnail {
    width: 48px;
    height: 48px;
    border-radius: 4px;
  }

  .track-info {
    flex: 1;
  }

  .track-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 2px 0;
  }

  .track-artists {
    padding: 2px 0;
  }

  .play-btn {
    margin-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding-left: 2px;
    background: var(--primary-color);
    color: #fff;
    border: 2px solid #fff;

    &:hover {
      color: var(--primary-color);
      background: #fff;
    }
  }
}