@use '../../scss/abstract';

%flexAlignCenter {
  display: flex;
  align-items: center;
}

%flexContentCenter {
  display: flex;
  justify-content: center;
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box {
  --search-box-border-radius: 12px;
  --search-box-padding: 12px;
  position: relative;
  display: flex;
  align-items: center;
  background: var(--search-box-bg-color);
  border-radius: var(--search-box-border-radius);
  padding: 0 var(--search-box-padding);

  .keyword-inp {
    flex: 1;
    padding: var(--search-box-padding);
    font-size: 1.6rem;
    background: transparent;
    position: relative;
  }

  .clear-btn {
    padding: calc(var(--search-box-padding) * 0.5);
  }
}

.search-box.standalone {
  .keyword-inp:not(:focus)~.items:not(:hover),
  .keyword-inp:not(:focus)~.items:not(:hover)~.cover {
    display: none;
    transition: none;
  }

  .items.hidden {
    visibility: hidden;
    scale: 0.95;
    z-index: -1;
    transition: none;
  }

  .items.hidden~.cover {
    visibility: hidden;
    transition: visibility 0.3s;
  }

  .items {
    padding: var(--search-box-padding) 0;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: auto;
    max-height: 50vh;
    background: var(--search-box-bg-color);
    border-bottom-right-radius: var(--search-box-border-radius);
    border-bottom-left-radius: var(--search-box-border-radius);
    visibility: visible;
    scale: 1;
    z-index: 1;
    transition: visibility 0.4s, scale 0.4s;
  }


  .cover {
    background: var(--search-box-bg-color);
    position: absolute;
    z-index: -1;
    height: 21px;
    bottom: 0;
    right: 0;
    left: 0;
    visibility: visible;
    transition: visibility 0.1s;
  }

  .item {
    display: flex;
    align-items: center;

    &:hover {
      background: var(--hover-bg-color);
    }
  }

  .keyword-item {
    padding: var(--search-box-padding);
  }

  .keyword-link {
    display: flex;
    width: 100%;
    align-items: center;
    column-gap: 8px;
  }

  .track-link {
    flex: 1;
  }

  .track-details {
    width: 100%;
  }

  .track-thumbnail {
    width: 48px;
    height: 48px;
    border-radius: 4px;
  }

  .track-info {
    flex: 1;
  }

  .track-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 2px 0;
  }

  .track-artists {
    padding: 2px 0;
  }


  .controls {
    @extend %flexAlignCenter;

    .control {
      @extend %flexCenter;
      padding: 12px;
    }

    .play-btn {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      padding: 0;
      color: var(--primary-color);
      background: #fff;

      &:hover {
        background: var(--primary-color);
        color: #0f0f0f;
      }
    }
  }
}