%flexAlignCenter {
  display: flex;
  align-items: center;
}
%flexContentCenter {
  display: flex;
  justify-content: center;
}
%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.track {
  display: flex;
  column-gap: 16px;
  align-items: center;
  .thumbnail {
    border-radius: 4px;
    width: 68px;
    height: 68px;
  }
  .details {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  .loved-btn {
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 4px;
  }

  .loved-btn.loved svg {
    fill: #43a1d5;
  }

  .loved-btn.loved path {
    stroke: #43a1d5;
  }
}

.controls {
  @extend %flexCenter;
  flex-direction: column;
  row-gap: 8px;
  height: 100%;

  &-top {
    @extend %flexCenter;
    column-gap: 16px;
    width: 100%;
  }

  .control {
    color: #fff;
    flex: none;
    background: transparent;
    &:hover {
      opacity: 0.9;
    }
    &:disabled,
    &[disabled] {
      color: var(--disabled-color);
    }
  }

  .play-btn {
    @extend %flexCenter;
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 50%;
    padding-left: 2px;
    color: #000;
  }
  .play-btn.playing {
    padding-left: 0;
  }
}

.controls-progressbar {
  @extend %flexCenter;
  width: 100%;
  .start-time {
    text-align: right;
  }

  .end-time {
    text-align: left;
  }

  .progress {
    flex: 1;
    margin: 0 8px;
    position: relative;
    flex: 1;
    height: 6px;
    width: 100%;
    background: #666;
    border-radius: 9999px;
  }
  .progress::before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 9999px;
    content: '';
    display: block;
    width: var(--current-percent);
    background: #fff;
  }
  .progress:hover::before {
    background: var(--primary-color);
  }
  .progress:hover .progress-seek {
    visibility: visible;
  }

  .progress:hover .progress-value {
    background: var(--primary-color);
  }

  .progress-seek {
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -2px;
    width: calc(100% + 4px);
    border-radius: 9999px;
    height: 100%;
    visibility: hidden;
    z-index: 1;
  }
  .progress-seek::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background: var(--primary-color);
    border-radius: 50%;
  }
  // .progress-seek::before {
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   bottom: 0;
  //   border-top-left-radius: 9999px;
  //   border-bottom-left-radius: 9999px;
  //   content: '';
  //   display: block;
  //   width: var(--current-percent);
  //   background: var(--primary-color);
  // }
}

.action {
  @extend %flexContentCenter;
  align-items: flex-end;
  flex-direction: column;
  row-gap: 8px;

  .queue-btn:hover {
    opacity: 0.9;
  }

  .queue-btn svg {
    color: var(--primary-color);
  }
  .volume {
    @extend %flexCenter;
    column-gap: 4px;
  }
  .volume .icon {
    display: flex;
    align-items: center;
  }
  .volume .value {
    width: 100px;
  }
}
