@use '../../scss/abstract';

.queue-card {
    background: var(--main-layout-elem-bg-color);
    height: 100%;
    border-radius: var(--main-layout-elem-border-radius);

    overflow: hidden;

    display: flex;
    flex-direction: column;

    padding-bottom: 12px;

    transition: translate 0.4s linear, visibility 0.4s linear;

    .search {
        background: var(--main-layout-elem-bg-color);
        padding: var(--track-card-padding);
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .no-queue {
        @include abstract.flexCenter;
        height: 100%;

        .message {
            text-align: center;
        }
    }

}

.queue-tracks {
    overflow-y: auto;
    flex: 1;

    .no-result {
        width: calc(100% + var(--track-card-padding) * -2);
        margin: 0 auto;
    }

    .no-result {
        font-size: 1.9rem;
        line-height: 1.8;
        text-align: center;
        margin-top: 20px;
        font-weight: 600;
    }

    .seperator {
        height: 1px;
        background: #aaa;
        border-radius: 9999px;
    }

    .current-track {
        background: var(--main-layout-elem-bg-color);
        position: sticky;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
}

.queue-card.searching {
    .current-track {
        position: sticky;

        &::after {
            content: "";
            display: block;
            bottom: 0;
            left: var(--track-card-padding);
            right: var(--track-card-padding);
            position: absolute;
            // width: calc(100% + var(--track-card-padding) * -2);
            height: 1px;
            background: #aaa;
            border-radius: 9999px;
        }
    }
}

