html.dark {
  --body-bg-color: #191919;
  --text-color: #fff;
  --primary-color: #43a1d5;
  --text-desc-color: #efefef;
  --disabled-color: #666666;
  --search-box-bg-color: #212121;
  --hover-bg-color: #2f2f2f;
}

