@use '../../scss/abstract';

%flexAlignCenter {
    display: flex;
    align-items: center;
}

%flexContentCenter {
    display: flex;
    justify-content: center;
}

%flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.track-card {
    --name-trans-x-percent: calc(100% * -1);

    display: flex;
    column-gap: 8px;
    align-items: center;
    padding: var(--track-card-padding);
    border-radius: 4px;
    position: relative;

    .thumbnail {
        border-radius: 4px;
        flex: none;
    }

    .details {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .name,
    .artist {
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 1.5em;
    }

    .name-value,
    .artist-value {
        display: block;
        translate: 0;
    }

    .name-value.sliding {
        transition: translate var(--name-trans-x-ms) linear;
        translate: var(--name-trans-x-percent);
    }

    .artist-value.sliding {
        transition: translate var(--artist-trans-x-ms) linear;
        translate: var(--artist-trans-x-percent);
    }

    .love-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .love-btn.loved svg {
        fill: #43a1d5;
    }

    .love-callToActionbtn.loved path {
        stroke: #43a1d5;
    }

    .action {
        flex: none;
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .cta {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background: var(--primary-color);
        border-radius: 50%;
        margin-left: 8px;
        margin-right: 8px;
    }
}



.track-card.mobile-player {
    background: #353535;

    .name,
    .artist {
        user-select: none;
    }
}

.track-card.mobile-player::after {
    position: absolute;
    display: block;
    content: "";
    height: 2px;
    bottom: 0;
    left: 0;
    border-radius: 9999px;
    width: var(--current-percent);
    background: #fff;
}

.track-card.highlighted {
    .name {
        color: var(--primary-color);
        font-weight: 600;
    }
}