@use '../../scss/abstract';

.track-card {
    --name-trans-x-percent: calc(100% * -1);

    display: flex;
    column-gap: 8px;
    align-items: center;
    padding: var(--track-card-padding);
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    .thumbnail {
        border-radius: 4px;
        flex: none;
    }

    .details {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .name,
    .artist {
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 1.5em;
    }

    .name-value,
    .artist-value {
        display: block;
        translate: 0;
    }

    .name-value.sliding {
        transition: translate var(--name-trans-x-ms) linear;
        translate: var(--name-trans-x-percent);
    }

    .artist-value.sliding {
        transition: translate var(--artist-trans-x-ms) linear;
        translate: var(--artist-trans-x-percent);
    }

    .love-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .love-btn.loved svg {
        fill: #43a1d5;
    }

    .love-callToActionbtn.loved path {
        stroke: #43a1d5;
    }



    .cta {
        @include abstract.flexCenter;
        width: 32px;
        height: 32px;
        background: var(--primary-color);
        border-radius: 50%;

        @include abstract.screen(lg) {
            // visibility: hidden;
            display: none;
        }
    }

    .controls {
        @include abstract.screen(lg) {
            // visibility: hidden;
            display: none;
        }
    }

    // .menu {
    //     position: relative;
    // }

    // .menu-items {
    //     display: none;
    //     position: absolute;
    //     background: var(--track-card-menu-bg-color);
    //     min-width: 120px;
    // }

    // .menu-items.shown {
    //     display: block;
    // }

    .more {
        flex: none;
        @include abstract.flexAlignCenter;
        column-gap: 8px;
        margin-left: auto;
        height: 100%;

        .action {
            @include abstract.flexAlignCenter;
        }

        .three-dot {
            rotate: 90deg;

            @include abstract.screen(lg) {
                rotate: 0deg;
            }
        }
    }

    .menu-btn {
        @include abstract.flexAlignCenter;
        height: 100%;

        @include abstract.screen(lg) {
            visibility: hidden;
        }
    }
}

.track-card:hover {

    .menu-btn {
        visibility: visible;
    }

    .cta {
        display: flex;
    }

    .controls {
        display: block;
    }
}

.track-card.hover-highlight:hover {
    background: var(--hover-bg-color);
}

.track-card.mobile-player {
    background: #353535;

    
}

.track-card.playing-progress::after {
    position: absolute;
    display: block;
    content: "";
    height: 2px;
    bottom: 0;
    left: 0;
    border-radius: 9999px;
    width: var(--current-percent);
    background: #fff;
}

.track-card.highlighted {
    .name {
        color: var(--primary-color);
        font-weight: 600;
    }
}